.media {
    height: 140px,
}

.radarCard {
    margin-bottom: 10px;
}

.card {
    display: flex;
}

.title {
    font-size: 1.1rem!important;
}

.details {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}
  
.cover {
    width: 170px;
    height: 115px;
}