.rightIcon {
    margin-left: 8px;
    font-size: 24px;
}
.benefits {
    margin: 10px 0;
    padding: 10px;
    position: relative;
    top: 5px;
    li {
        display: list-item;
        margin: 5px 0;
    }
}
.protection {
    display: none;
}
:global {
    .MuiButton-containedPrimary-85 {
        float: right;
    }
}
