.card {
    display: flex;
    margin: 10px 0;
    max-width: 375px;
}

.title {
    font-size: 1.1rem!important;
}

.details {
    display: flex;
    flex-direction: column;
    min-width: 190px;
}

.content {
    flex: 1 0 auto;
}
  
.cover {
    width: 170px;
    height: 115px;
}