.header {
  border-bottom: 1px solid #e6e9ec;
}
.card {  
  background: rgba(20,68,119,.95)!important;
  color: #fff!important;
}

.title {
  color: #fff!important;
}

.link {
  text-decoration: none;
}

.unityBtn {
  :global {
    .ms-Button-icon, .ms-Button-label {
      color: #fff!important;
    }
  }  
}