body {
  :global {
    .MuiLinearProgress-barColorPrimary-113 {
      background-color: #144477;
    }
    .MuiButton-containedPrimary-85 {
      background-color: #144477;
    }
    .MuiButton-containedPrimary-85:hover {
      background-color: #1d64af;
    }
  }
}

.header {
  border-bottom: 1px solid #e6e9ec;
}

.questionContainer {
  :global {
    .ratingStarFront-55 {
      color: #144477;
    }
    .root-42:hover .ms-RatingStar-back {
      color: #144477
  }
  }
  .questionLabel {
    margin-top: 15px;
  }
  .ratingContainer {   
    padding: 10px 0 10px 0;
    :global {
      .ms-Rating-star > div {
          width: 100%;

          .ms-Rating-button {
            width: 9%;
          }
      }
    }
  }
  @media (min-width: 640px) {
    .ratingContainer {
      padding-left: 0; 
    }
  }
}

.surveyContainer {
  :global {
    .ms-Grid-row {
      padding-bottom: 15px;
    }
    body {
      font-family: 'Futura',Helvetica Neue,Helvetica,sans-serif;
    }
  }
  @media (min-width: 640px) {
    .progress {
      max-width: 80%;
      margin: auto;
    } 
  } 
}