.spinnerContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    background: rgba(255, 255, 255, 0.7);
    text-align: center;
    z-index: 999;

    .text {
        font-weight: bold;
    }
}